* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #d9d8d8;
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3ba1f4;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
h2.titulo {
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  padding-top: 10px;
}
h2.titulo span {
  color: #3ba1f4;
}
h2.titulo-black {
  color: #000000;
  font-size: 38px;
  text-align: center;
  padding-top: 10px;
}
h2.titulo-black span {
  color: #3ba1f4;
}

button:hover,
form .btn-enviar input[type="submit"]:hover {
  box-shadow: 0 0 8px hsl(207, 91%, 69%);
  transform: scale(1.05);
}

/*ESTILO DO CABEÇALHO*/
header {
  padding: 40px 4%;
  background-color: #000000;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #5a5959;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header a:hover {
  color: #ffffff;
  transform: scale(1.05);
}
header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}

/*ESTILO TOPO DO SITE */
section.topo-do-site {
  padding: 40px 4%;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site h1 {
  font-size: 42px;
  line-height: 40px;
}
.topo-do-site .txt-topo-do-site h1 span {
  color: #3ba1f4;
}
.topo-do-site p {
  color: #000000;
  margin: 40px 0;
  font-size: 20px;
}
.topo-do-site .img-topo-do-site img {
  border-radius: 200px;
  box-shadow: 0 0 20px 5px #8bc7f8;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.txt-topo-do-site {
  padding-top: 20px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/*ESTILO ESPECIALIDADES*/
section.especialidades {
  padding: 40px 4%;
  background-color: black;
}
section.especialidades .flex {
  gap: 90px;
}

.especialidades .especialidades-box {
  color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #ffffff6c;
}
.especialidades .especialidades-box {
  font-size: 70px;
  color: #3ba1f4;
  text-align: center;
}

.especialidades .especialidades-box h3 {
  font-size: 25px;
}

/*ESTILO DO PORTIFÓLIO*/
section.portifolio {
  padding: 40px 4%;
  color: #ffffff;
  background-color: black;
  box-shadow: 0 0 40px 10px #ffffff36;
}

.img-port {
  width: 360px;
  height: 460px;
  box-shadow: 0 0 20px 5px #ffffff33;
}

section.portifolio .flex {
  justify-content: space-around;
  padding-top: 40px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
  transition: 18s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01111fda;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
  transition: 0.6s;
}

/*SOBRE*/
section.sobre {
  padding: 40px 4%;
}
section.sobre .flex {
  align-items: center;
  gap: 40px;
}
.sobre .txt-sobre {
  color: #000000;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
.sobre .txt-sobre h2 span {
  color: #3ba1f4;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
  font-size: 20px;
}

.sobre .img-sobre img {
  width: 360px;
  height: 500px;
  border-radius: 40px;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #3ba1f4;
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
  margin: 0 5px;
  transition: 0.2s;
}

/*FORMULARIO*/
section.formulario {
  padding: 80px 4%;
  background-color: #ffffff;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #adadad;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
}

form textarea {
  resize: none;
  height: 200px;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input[type="submit"] {
  width: 120px;
  background-color: #3ba1f4;
  border: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

/*ESTILO DO RODAPE*/
footer {
  padding: 40px 4%;
  background-color: #000000;
  color: #ffffff;
}
footer .flex {
  justify-content: space-between;
}
footer .line-footer {
  padding: 20px 0;
}
.borda{
  border-bottom: 2px solid #3ba1f4;
}

footer .line-footer p {
  display: flex;
  align-items: center;
  gap: 8px; 
}
footer .line-footer p i {
  color: #3ba1f4;
  font-size: 22px;
}
footer .line-footer p a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}
footer .btn-social button {
  width: 40px;
  height: 40px;
  font-size: 16px;
}