* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #d9d8d8;
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3ba1f4;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

/*ESTILO DO CABEÇALHO*/
header {
  padding: 40px 4%;
  background-color: #000000;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #5a5959;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header a:hover {
  color: #ffffff;
  transform: scale(1.05);
}
header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.btn-contato button:hover {
  box-shadow: 0 0 8px hsl(207, 91%, 69%);
  transform: scale(1.05);
}

/*ESTILO TOPO DO SITE */
section.topo-do-site {
  padding: 40px 4%;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo-do-site h1 {
  color: #000000;
  font-size: 42px;
  line-height: 40px;
}
.topo-do-site .txt-topo-do-site h1 span {
  color: #3ba1f4;
}
.topo-do-site p {
  color: #000000;
  margin: 40px 0;
}
.topo-do-site .img-topo-do-site img {
  border-radius: 200px;
  box-shadow: 0 0 20px 5px #8bc7f8;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.txt-topo-do-site {
  padding-top: 20px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/*ESTILO ESPECIALIDADES*/
section.especialidades {
  padding: 40px 4%;
  background-color: black;
}
section.especialidades .flex {
  gap: 90px;
}

.especialidades .especialidades-box {
  color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #ffffff6c;
}
.especialidades .especialidades-box {
  font-size: 70px;
  color: #3ba1f4;
  text-align: center;
}

.especialidades h2 {
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  padding-top: 10px;
}
.especialidades h2 span {
  color: #3ba1f4;
}
.especialidades .especialidades-box h3 {
  font-size: 25px;
}
